html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #eaf0f8;
    font-family: fantasy;
    font-weight: lighter;
}

.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.country {
    position: relative;
    margin: 10px;
    cursor: pointer;
}

    .country img {
        width: 300px;
        height: 250px;
        transition: transform 0.3s ease;
        border-radius: 20px;
    }

    /* enlarges picture on hover */
    .country:hover img {
        transform: scale(1.05);
    }

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

/* shows caption on hover */
.country:hover .caption {
    opacity: 1;
}

.logo {
    height: 7em;
    margin-right: 20px;
}

/* CSS for pop up P tags description on every field form at the registration */

.error {
    color: red;
    display: none;
    font-style: italic;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight:;
    --bs-nav-link-color: #000;
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


/* font adjustment on list profile at contact page */
.list-group-item {
    font-size: small;
}

/*//fix footer absolute error*/
footer {
    position: relative!important;
}